
*.xcworkspacedata

*.xcuserstate

*.xcscheme

VTNutrition.xcodeproj/xcuserdata/robert.xcuserdatad/xcschemes/xcschememanagement.plist

VTNutrition.xcodeproj/xcuserdata/robert.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
