
*.xcworkspacedata

*.xcuserstate

*.xcscheme

VTNutrition.xcodeproj/xcuserdata/robert.xcuserdatad/xcschemes/xcschememanagement.plist

VTNutrition.xcodeproj/xcuserdata/robert.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store

VTNutrition.xcodeproj/project.xcworkspace/xcuserdata/robert.xcuserdatad/WorkspaceSettings.xcsettings
